asgiref==3.4.1
astroid==2.6.6
backports.entry-points-selectable==1.1.0
certifi==2021.5.30
colorama==0.4.4
distlib==0.3.2
dj-database-url==0.5.0
Django==3.2.6
django-ckeditor==6.1.0
django-heroku==0.3.1
django-js-asset==1.2.2
filelock==3.0.12
gunicorn==20.1.0
isort==5.9.3
lazy-object-proxy==1.6.0
mccabe==0.6.1
Pillow==8.3.1
platformdirs==2.2.0
psycopg2==2.9.1
psycopg2-binary==2.9.1
pycodestyle==2.7.0
pylint==2.9.6
pylint-celery==0.3
pylint-django==2.4.4
pylint-plugin-utils==0.6
python-dotenv==0.19.0
pytz==2021.1
six==1.16.0
sqlparse==0.4.1
toml==0.10.2
whitenoise==5.3.0
wrapt==1.12.1
