{% extends 'core/base.html' %} {% block title %}Acerca de{% endblock %} 
{% block background %}{% load static %}{% static 'core/img/oso-hormiguero-2.png' %}{% endblock %}
{% block headers %}
<h1 class="integrantes">INTEGRANTES</h1>
<span class="quienes-somos">¿Quiénes somos?</span>
{% endblock %} 

{% block content %}
{% for integrante in integrantes %}
<div class="row">
  <div class="col-lg-3 col-md-4 offset-lg-1">
    <img
      class="img-fluid avatar"
      src={{integrante.avatar}}
      alt=""
    />
  </div>
  <div class="col-lg-7 col-md-8">
    <h1 class="section-heading">{{integrante.nombre}}</h1>
    <small class="text-muted">
      {{integrante.rol}}
    </small>
    <div>
      <a href={{integrante.linkedin}} target="_blank">                   
        <i class="fa fa-linkedin text-muted"></i>
      </a>
    </div>
    <p>
      {{integrante.perfil}}
    </p>
  </div>
</div>
{% endfor %}
{% endblock %}
